html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.title{
  color: #1900ffbf;
  margin: 1.2rem 0 0 0;
}

.titleMovie{
  color: white;
  margin: 0;
}

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem; 
}

@media (min-width: 45rem) {
  .content-container{
    padding: 1.5rem 15rem;
  }
}

.button {
  background: #1900ffbf;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
  padding: 0.7rem 5rem;
  text-decoration: none;
  border-radius: 2.2rem;
}

.smallMarginBottom{
  margin-bottom: 1.2rem;
}

.listItem{
  border-radius: 5px;
    padding: 0.7rem;
    margin-bottom: 10px;
    background-color: #1900ffbf;
}

.ratingContainer{
  display: flex;
  justify-content: space-between;
}

.ratingText{
  font-size: 1.5rem;
    padding-top: 0.4rem;
    font-family: fantasy;
}

.starRating{
  font-size: 2.0rem
}